header {
    height: 500px;
}

body {
   background-image: url("../img/fundo.jpg");
}

.título-pagina {
    font: size 10pt;
    color: silver
}

.barradenavegacao {
    display: flex;
    align-items: center;
}

.navbar {
    padding-left: 50px;
    text-decoration:none;
    color:brown;
    text-transform: uppercase;
    font-weight: 700;
    
}

.banner {
    width: 100px;
    height: 250px;
    object-fit: cover;
    object-position: 0 0;
}