body {
    background-color: #FFCC66;
    background-image: url("papel-de-parede-de-moda-masculina-fundo-de-madeira-sapatos-de-couro-com-ferramentas-de-polimento (1).jpg");
    }  
.título-pagina {
    font: size 10pt;
    color: silver
}
background {
    color: rgb(12, 11, 5);
}
.barradenavegacao {
    display: flex;
    align-items: center;
}
.barradenavegacao ul {
    display: flex;
}
.barradenavegacao ul a {
    padding-left: 50px;
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
}